.questoes
{
    margin-top:.5rem;
    text-align: center;
    width:100%;
    font-weight: 600;
    max-width: 30rem;
    font-size: .9rem;
}

.respostas
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top:1rem;
}
.perguntas 
{
    width:80%;
    margin:auto;
    text-align: left;
}
.respostas span
{
    background-color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding:.7rem 1.2rem;
    width:100%;
    margin:.5rem;

    text-align: center;
    justify-content:center;
    cursor: pointer;
}

.iphoneImagem
{
    width: 20rem;

}
.parabens-container.is-active
{
    display: flex !important;
}
.respostas1 span
{
    background-color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding:.7rem;
    width:15%;
    text-align: center;
    justify-content:center;
    cursor: pointer;
    margin:.2rem;
}

.red.is-active, .yellow.is-active, .green.is-active, .blue.is-active, .orange.is-active 
{
    transform:scale(1.2);
    transition: .3s ease;
}

.sim.is-active, .nao.is-active 
{
    background-color:blueviolet;
    color:#fff;
}
.respostas1
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top:1rem;
}

.respostaBtn {
    flex: 1;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
}

.blue {
    background-color: #06b26a;
    margin: 0.5rem;
}

.red {
    background-color: #CD0000;
    margin: 0.5rem;
}

.parabens-modal
{
    max-width:85vw;
    width:60rem;
    background-color: #0f0f0f;
    border: 1px solid #2d2d2d; /* Borda tracejada de 2px, sólida e verde */
    color: #fff;
    border-radius: 12px;
    max-height: 85vh;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: .5rem   ;
}

.assistir-video
{
    background-color:#ff0000a5;
    border: 1px solid #ffffff76; /* Borda tracejada de 2px, sólida e verde */
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    padding: 1rem;
    width:30rem;
    max-width: 90%;
}
.parabens-modal p 
{
max-width: 90%;
    word-break: break-word;
}

a 
{
    text-decoration: none;
    display: flex;
    max-width: 90%;
    text-align: center;
    justify-content: center;
    align-items: cener;

}

@media (max-width:30rem)

{
    .iphoneImagem
    {
       width: 17rem;
    }
}